<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="fileTarget"
				xsi:type="File"
				fileName="${basedir}/logs/logfile.txt"
				maxArchiveFiles="4"
				archiveEvery="Day"
				layout="${shortDate}|${uppercase:${level}}|${logger}|${message}${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />

	</rules>
</nlog>
<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Trace"
	  internalLogFile="internal-nlog.txt">

	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="fileTarget" 
				xsi:type="File" 
				fileName="${basedir}/logs/logfile.txt"
				maxArchiveFiles="4"
				archiveEvery="Day"
				layout="${shortDate}|${uppercase:${level}}|${logger}|${message}${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileTarget" />
	</rules>
</nlog>-->


