<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="allfile" 
				xsi:type="File" 
				fileName="${basedir}/logs/logfile.txt"
				archiveEvery="Day"
				layout="${shortdate}|{event-properties:item=EventId_Id}\${logger}|${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="info" final="true"/>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>